div.WGameOverview {
  background: #eee;
}
div.WGameOverview ul,
div.WGameOverview li {
  display: inline;
  list-style: none;
  padding: 0;
}

div.WCard {
  border: 1px solid #888;
  border-radius: 4px;
  width: 40px;
  height: 40px;
  display: inline-block;
  margin: 2px;
}
div.WCard.WCard-A {
  background-color: red;
}
div.WCard.WCard-B {
  background-color: green;
}
div.WCard.WCard-C {
  background-color: blue;
}
div.WCard.WCard-D {
  background-color: yellow;
}
div.WCard.WCard-E {
  background-color: white;
}
div.WCard.WCard-X {
  background: linear-gradient(135deg, orange, yellow, green, cyan, blue, violet);
}
body {
  background: #ccc;
}

div.WPlayer-inturn::before {
  content: '-> ';
  float: left;
}
